* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
p {
  font-weight: 300;
  color: #111;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(komplit.jpg);
  background-size: cover;
  .content {
    max-width: 900px;
    text-align: center;
    h2 {
      font-size: 5em;
      color: #fff;
    }
    p {
      color: #fff;
      font-size: 1em;
    }
    .btn {
      font-size: 1em;
      color: #fff;
      background: #ff0157;
      display: inline-block;
      padding: 10px 30px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.5s;
    }
    .btn:hover {
      letter-spacing: 6px;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  .sticky {
    background: #fff;
    padding: 40px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    .logo {
      color: #111;
    }
  }
  .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    span {
      color: #ff0157;
    }
  }
  .navigation {
    position: relative;
    display: flex;
    li {
      list-style: none;
      margin-left: 30px;
      a {
        text-decoration: none;
        color: yellow;
        font-weight: 300;
      }
      a:hover {
        color: #ff0157;
      }
    }
  }
}
.header.sticky .navigation li a {
  color: #111;
}
section {
  padding: 100px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .col50 {
    position: relative;
    width: 48%;
    .titleText {
      color: #111;
      font-size: 2em;
      font-weight: 300;
      span {
        color: #ff0157;
        font-weight: 700;
        font-size: 1.5em;
      }
    }
  }
  .col50 .imgBx {
    position: relative;
    width: 100%;
    // min-height:300px;
    height: 100%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.menu {
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .titleText {
      span {
        color: #ff0157;
        font-weight: 700;
        font-size: 1.5em;
      }
    }
    .btn {
      font-size: 1em;
      color: #fff;
      background: #ff0157;
      display: inline-block;
      padding: 10px 30px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.5s;
    }
    .btn:hover {
      letter-spacing: 6px;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
    .box {
      width: 340px;
      margin: 20px;
      border: 15px solid #fff;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
      .imgBx {
        position: relative;
        width: 100%;
        height: 300px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .text {
        padding: 15px 0 5px;
        h3 {
          font-weight: 400;
          color: #111;
        }
      }
    }
  }
}
.expert {
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .titleText {
      span {
        color: #ff0157;
        font-weight: 700;
        font-size: 1.5em;
      }
    }
  }
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
    .box {
      width: 250px;
      margin: 15px;
      .text {
        padding: 15px 0 5px;
        h3 {
          font-weight: 400;
          color: #111;
        }
      }
      .imgBx {
        position: relative;
        width: 100%;
        height: 300px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.testimonials {
  background-color: grey;
  background-size: cover;
}
.testimonials.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials .titleText {
  span {
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
  }
}
.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}
.testimonials .content .box .imgBx {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact {
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .titleText {
      span {
        color: #ff0157;
        font-weight: 700;
        font-size: 1.5em;
      }
    }
  }
}

.contact {
  background-color: #fff;
  background-size: cover;
  background: url(bg3.jpg);
  .contactForm {
    padding: 75px 50px;
    background-color: #fff;
    -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    h3 {
      color: #fff;
      font-size: 1.2em;
      margin-bottom: 20px;
      font-weight: 500;
    }
    .inputBox {
      position: relative;
      width: 100%;
      margin-bottom: 20px;
      input,
      textarea {
        width: 100%;
        border: 1px solid #555;
        padding: 10px;
        color: #111;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        resize: none;
      }
    }
  }
}
.contact .contactForm .inputBox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  cursor: pointer;
}
.copyright {
  padding: 8px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

@media (max-width: 991px) {
  .header,
  .header.sticky {
    padding: 10px 20px;
  }
  .header .navigation {
    display: none;
  }
  .header .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    color: white;
  }
  .menuToggle.active {
    background: url(close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
